@font-face {
  font-family: "iconfont"; /* Project id 5176536 */
  src: url('iconfont.woff2?t=1787722584109') format('woff2'),
       url('iconfont.woff?t=1787722584109') format('woff'),
       url('iconfont.ttf?t=1787722584109') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e6bf";
}

.icon-calendar1:before {
  content: "\e74b";
}

.icon-tongji:before {
  content: "\e605";
}

.icon-hangban-:before {
  content: "\e678";
}

.icon-hangban:before {
  content: "\e69e";
}

.icon-chupiao:before {
  content: "\e61d";
}

.icon-yufukuan:before {
  content: "\e665";
}

.icon-chupiao1:before {
  content: "\e603";
}

.icon-a-tongjishujuquxianzhishu:before {
  content: "\e63d";
}

.icon-chupiao2:before {
  content: "\e689";
}

.icon-huilv01:before {
  content: "\e69a";
}

.icon-huobihuishuai:before {
  content: "\e62e";
}

.icon-icon-exchange_rate:before {
  content: "\e75d";
}

.icon-duozhongzhifu:before {
  content: "\e7ac";
}

.icon-liebiao:before {
  content: "\e88f";
}

.icon-daohangdian:before {
  content: "\ea8e";
}

.icon-ziyuan:before {
  content: "\e615";
}

.icon-liebiao_o:before {
  content: "\eb7c";
}

.icon-jichang:before {
  content: "\e6ee";
}

.icon-plane-trip-international:before {
  content: "\e69d";
}

.icon-jichang-:before {
  content: "\e60c";
}

.icon-huishuai:before {
  content: "\e6b9";
}

.icon-huishuaizhuanhuan:before {
  content: "\e675";
}

.icon-nation:before {
  content: "\e600";
}

.icon-hangdianbianji:before {
  content: "\e69b";
}

.icon-jichangguibinting:before {
  content: "\e60d";
}

.icon-plane-trip-international1:before {
  content: "\e6a4";
}

.icon-huishuai1:before {
  content: "\e73e";
}

.icon-hangdianfeihang:before {
  content: "\e633";
}

.icon-a-yinhangkadaizhifuzhifu:before {
  content: "\e63f";
}

.icon-huizhihangdian:before {
  content: "\e624";
}

.icon-chongzhi0101:before {
  content: "\e613";
}

.icon-duoyuyan:before {
  content: "\e654";
}

.icon-icon-order-plan:before {
  content: "\e62b";
}

.icon-chongzhi:before {
  content: "\e69c";
}

.icon-caigoudan:before {
  content: "\e671";
}

.icon-caigoujihua:before {
  content: "\e602";
}

.icon-lvzhou_yuyanqiehuan:before {
  content: "\e629";
}

.icon-navicon-cgd:before {
  content: "\e651";
}

.icon-company:before {
  content: "\e61b";
}

.icon-chongzhi1:before {
  content: "\e65c";
}

.icon-yuyan-kong:before {
  content: "\e692";
}

.icon-chongzhi2:before {
  content: "\e62c";
}

.icon-caigoudan1:before {
  content: "\e609";
}

.icon-yuyan:before {
  content: "\e684";
}

.icon-yuyan1:before {
  content: "\e614";
}

.icon-line-company:before {
  content: "\e65e";
}

.icon-icon_company:before {
  content: "\e66e";
}

.icon-ic24-company:before {
  content: "\f2f5";
}

.icon-company1:before {
  content: "\e84f";
}

.icon-yuyan2:before {
  content: "\e61c";
}

.icon-person:before {
  content: "\e64e";
}

.icon-person1:before {
  content: "\e612";
}

.icon-personal:before {
  content: "\e618";
}

.icon-dingdan:before {
  content: "\e737";
}

.icon-shezhi:before {
  content: "\e64b";
}

.icon-shezhi1:before {
  content: "\e63b";
}

.icon-dashboard:before {
  content: "\e764";
}

.icon-dingdan1:before {
  content: "\e62a";
}

.icon-shezhi2:before {
  content: "\e65f";
}

.icon-dingdan2:before {
  content: "\e897";
}

.icon-dashboard1:before {
  content: "\e78b";
}

.icon-renyuan:before {
  content: "\e61a";
}

.icon-renyuan1:before {
  content: "\e645";
}

.icon-Dashboard:before {
  content: "\e68b";
}

.icon-shezhi3:before {
  content: "\e851";
}

.icon-renyuan-:before {
  content: "\e611";
}

.icon-dashboard2:before {
  content: "\e93c";
}

.icon-shezhi4:before {
  content: "\e646";
}

.icon-dingdan3:before {
  content: "\e8ae";
}

.icon-shezhi5:before {
  content: "\e7eb";
}

.icon-dingdan4:before {
  content: "\e818";
}

.icon-dingdan_dingdanliebiao:before {
  content: "\e787";
}

.icon-female:before {
  content: "\e79b";
}

.icon-male:before {
  content: "\e79c";
}

.icon-Male-:before {
  content: "\e701";
}

.icon-kongxinyuan:before {
  content: "\e606";
}

.icon-copy:before {
  content: "\e94c";
}

